@import "tailwindcss";

.slider {
  background: url("../img/Banner.webp") no-repeat center;
  min-height: 600px;
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navegation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: transform 0.3s ease-in-out; /* Smooth transition */
}

.navegation.hidden-navbar {
  transform: translateY(-100%); /* Adjust based on your navbar's height */
}

body {
  font-family: "Bebas Neue", sans-serif;
}

footer {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.plans {
  background-color: #433A48;
}