footer.bg-purple-900.text-gray-300.footer.nav
    .mx-auto.container.divide-y-1
        .grid(class="md:grid-cols-2 py-8")
            .flex.flex-col.gap-10(class="items-center sm:items-start")
                img(src="./img/Logo.png", alt="Logo" class="img-fluid w-10 rounded-full select-none")
                p ¿Por qué usar Nebulã?
                p.text-sm.-mt-5.text-center Es tu fuente confiable de imágenes astronómicas excepcionales que combina calidad, accesibilidad y una pasión por la astronomía.
                .flex.gap-4
                    a(href="https://facebook.com") 
                        img(src="./img/facebook.png", alt="Facebook" class="img-fluid h-5")
                    a(href="https://twitter.com") 
                        img(src="./img/twitter.png", alt="Twitter" class="img-fluid h-5")
                    a(href="https://github.com/Estivenm06") 
                        img(src="./img/github.png", alt="Github" class="img-fluid h-5")
            .flex.flex-col
                h1.text-center.text-2xl.font-bold.uppercase.mb-3 Colaboraciones
                .flex.justify-center
                    ul.list-disc
                        li CelestialTech
                        li CosmicLearning
                        li eCommerceGalaxy 
                        li AstronomySoft
                        li StellarPrints

        .py-5
            p © 2025 Nebula Corporation, Inc. All rights reserved.