.slider.text-5xl
    h1(class="text-stone-500 text-center sm:text-6xl md:text-8xl duration-250 sm:mx-10") #{greeting}
    span(class="text-purple-700 hover:text-purple-500 cursor-pointer duration-250 nameUser")