.slider.text-5xl
    h1.text-purple-700.text-center(class="sm:text-6xl md:text-8xl duration-250") #{greeting}
    span(class="text-purple-700 hover:text-purple-500 cursor-pointer duration-250") #{nameUser}